# Visual Studio  
[Bb]in/  
[Oo]bj/  
.vs/  
*.user  
*.suo  
*.csproj.user  
*.userprefs  
*.log  
*.nupkg  
*.pdb  
*.dll  
*.cache  

# Rider  
.idea/  
*.sln.iml  

# Build results  
[Dd]ebug/  
[Dd]ebugPublic/  
[Rr]elease/  
x64/  
x86/  

# NuGet  
packages/  
*.nupkg  
.nuget/  
NuGet.exe  

# Local development  
.env  
*.local  
appsettings.Development.json  